<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% include t.html key="call_to_action.heading" %}</h2>
        <hr class="light">
        <p class="text-faded">{% include t.html key="call_to_action.text" %}</p>
        <a href="#portfolio" class="btn btn-default btn-xl">{% include t.html key="call_to_action.button" %}</a>
      </div>
    </div>
  </div>
</section>
