{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.locales[lang] %}
{% assign prefix = "" %}
{% if lang != site.default_lang %}
  {% assign prefix = "/" | append: lang %}
{% endif %}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ t.call_to_action.heading }}</h2>
                <hr class="light">
                <p class="text-faded">{{ t.call_to_action.text }}</p>
                <a href="{{ prefix }}#portfolio" class="btn btn-default btn-xl">{{ t.call_to_action.button }}</a>
            </div>
        </div>
    </div>
</section>
