<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Laterna Magica</h2>
                <hr class="light">
                <p class="text-faded">A vetítéseknél alkalmazott technika őse a Laterna Magica - azaz a Bűvös Lámpás - fél évezrede ejti ámulatba a nézőt. Mára az épületek architekturális vetítése - azaz Mapping Vetítés külön művészeti ággá nőtte ki magát. A digitális vetítéseknek köszönhetően hatalmas katedrálisok változnak át, tűnnek el, vagy épülnek újjá másodpercek alatt a szemünk előtt. Pécs városában is ilyen csodának lehetünk szemtanúi a Zsolnay Fényfesztiválon, nyár elején... A Magyar Zene Házában bemutatott installáció analóg vetítőgépek időtlen képeiből és könnyű, áttetsző vásznak észrevehetetlen mozgásából idézi elénk a “Listen” című kiállítás, litván helyszínének erdejeit.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Galéria</a>
            </div>
        </div>
    </div>
</section>
