<section id="contact">
  {% assign lang = page.lang | default: site.default_lang %}
  {% assign t = site.data.locales[lang] %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{ t.contact.heading }}</h2>
        <hr class="primary">
        <p>{{ t.contact.paragraph }}</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ t.contact.email_label }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
