<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | default: site.description }}">
    <meta name="author" content="">

    <title>{{ page.title | default: site.title }}</title>

    <!-- Favicons / icons (use img/smallogo.png as source) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/img/favicons/site.webmanifest">
    <meta name="theme-color" content="#111827">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

    <!-- Open Graph / Social -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | default: site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url | default: site.baseurl }}">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/smallogo.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | default: site.description }}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/img/smallogo.png">

    <!-- JSON-LD Organization -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "{{ site.title | escape }}",
      "url": "{{ site.url }}{{ site.baseurl }}",
      "logo": "{{ site.url }}{{ site.baseurl }}/img/smallogo.png"
    }
    </script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
