<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/biglogo.png" alt="Pécsi Fényfestő Műhely - Labor Lumensquad" style="max-width: 100%; height: auto;">
            <hr>
            <p>A Pécsi Fényfestő Műhely - Labor Lumensquad - csapata lassan két évtizede foglalkozik fényfestéssel. Az idehaza és külföldön is ismert alkotóműhely fesztiválok egyedi helyszíneit, épületek homlokzatait, elhagyatott csarnokok belső tereit varázsolja át, öltözteti fényruhába egy-egy alkalomra.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Tovább</a>
        </div>
    </div>
</header>
