<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% include t.html key="services.heading" %}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>{% include t.html key="services.box1.title" %}</h3>
                    <p class="text-muted">{% include t.html key="services.box1.text" %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>{% include t.html key="services.box2.title" %}</h3>
                    <p class="text-muted">{% include t.html key="services.box2.text" %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>{% include t.html key="services.box3.title" %}</h3>
                    <p class="text-muted">{% include t.html key="services.box3.text" %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>{% include t.html key="services.box4.title" %}</h3>
                    <p class="text-muted">{% include t.html key="services.box4.text" %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
